* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto Light";
    color: white;
}

.container {
    background-color: #23424a;
    padding: 5rem;

}

.text {
    width: 70%;
    font-size: 1.5rem;
}

.text > p {
    padding-top: 2rem;
    color: hsl(0, 0%, 85%);
    line-height: 2rem;
    font-size: 1.5rem;
}

.button > button {
    border-radius: 31.5px;
    background-color: #38CFD9;
    color: black;
    font-weight: bold;
    margin-top: 2rem;
    padding: 0.7rem;
    mix-blend-mode: normal;
    border: none;
}

